/* Bitcoin Gem Styles */
.row {
	text-align: center;
}
p {
	font-size: 18px;
}
body {
	background: url(https://lightninggem.com/img/cloud2.jpg) repeat-x left top;
}
.top-bar {
	background: #CCE6E6;
	width: 940px;
	min-width: 768px;
	margin: 0 auto;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.top-bar h5{
	margin-top: 5px;
	margin-bottom: 8px;
}
.top-bar h5.border-right{
	border-right: 1px solid black;
}
.top-bar a:link{
	color: black;
}
.top-bar a:visited{
	color: black;
}
.top-bar a:hover{
	color: #408888;
}
h1 {
	margin-top: 15px;
	margin-bottom: 30px;
}
h4.border {
	border: 1px solid black;
}
code{
	font-size: 16px;
	background:#f2f2f2;
	font-weight: normal;
	padding: 2px;
}
.addthis_toolbox {
	display: inline-block;
	width: 190px;
}
h6.links {
	font-weight: normal;
	font-size: 18px;
	color: #999;
	display: inline-block;
}
.tabs-content {
	font-size: 12px;
}
.tabs-content table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	border: 2px solid black;
	border-collapse:collapse;
}
.tabs-content td {
	padding: 4px 8px;
	text-align: center;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.tabs-content th {
	padding: 4px 12px;
	text-align: center;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
.disclaimer {
	font-size: 12px;
	margin-top: 12px;
	text-align: center;
}
.border {
	border: 2px;
}
.button {
	margin-bottom: 12px;
}